# build
/build/
/bin/
/ant-bin/
/src/gen/
/src/gen-res/
/src/tmp/
/doc/
/jastaddj-*.zip
/jastaddj*.jar
/fileset.tmp
JavaTypestate/AST/
JavaTypestate/scanner/JavaScanner*
JavaTypestate/parser/JavaParser*

# eclipse
/.classpath
/.project
/.settings/

# vim
*.swp

# temporary files
/tmp
/*.jar

# intelliJ
/.idea/
/*.iml


